*{margin: 0;}
body{
	
	
}
header{
	background: url(Assets/Capa.jpg) no-repeat center ; 
	height: 100vh;
	background-size: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end; 
}
@media(max-width: 640px){
	header{
		background: url(Assets/Capa.jpg) no-repeat center;
		background-size: 650px;
		background-position: 50% 35%;
		height: 800px; 
		display: flex;
		flex-direction: column;
	}
}
.nav__menu{
	width: 100%;
	margin: 0 29%;
	margin-top: 2%;
	background:transparent;
	position: fixed;
	top:0;
	z-index: 99;
}
@media(max-width: 640px){
	.nav__menu{
		margin: 0;
		margin-top: 5%;
		display: flex;
		justify-content: center;
	}
}
.nav__item{
 	padding:20px;
	color: rgb(255, 255, 255);
	font-family:"industry-inc-stencil";
	font-style:normal;
	font-weight:400;
	font-size: 26px;
	text-decoration: none;
 	line-height: 31.2px;
	letter-spacing: 0.04em;
}
.nav__item--action{

}
.nav__item--mobile{
	display: none
}
@media(max-width: 640px){
	.nav__item{
		padding:8px; 
		font-size: 17px;
		color: rgb(0, 0, 0);
		font-style: normal;
		text-align: center;
		line-height: 20.4px;
		letter-spacing: 0.04em;
	}
	.nav__item--action{
		display: none;
	}
	.nav__item--mobile{
		display: block;
	}
}
@media(max-width: 640px){
	.section__imglogo__mobile{
		background: url(Assets/mobile-header-cinza.svg) no-repeat;
		background-size: 100%;
		width: 100%;
		height: 400px;
		padding-bottom:4%; 
	}
}
.imglogo__mobile{
	display: none;
}
@media(max-width: 640px){
	.imglogo__mobile{
		display: inline;
		height: 50%;
		width: 50%;
		margin-top: 12%;
		margin-left: 40%; 
	}
}
.section__textograffiti{
	width: 61%;
	height: 390px;
	margin-left: 5%;
	background: url(Assets/HomeLaranja.svg) no-repeat center bottom;
	background-size: 100%;
	position: relative; 
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
@media(max-width: 640px){
	.section__textograffiti{
		width: 100%;
		height: 500px;
		background:url(Assets/mobile-header-laranja.svg) no-repeat bottom;
		background-size: 100%;
		display: flex;
		align-items: center; 
		justify-content: center;
	}
}
.p__textograffiti{
	width: 56%;
	margin-bottom: 50px;
	font-family:"modesto-text";
	font-style:normal;
	font-weight:700;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	letter-spacing: 0em;
}
@media(max-width: 640px){
	.p__textograffiti{
		width:290px;
		margin-top: 20px; 
		margin-bottom: 0; 
		font-size: 18px;
		color: rgb(0, 0, 0);
	}
}
.section__imglogo{
	width: 30%;
	height: 250px;
	background: url(Assets/HomeCinza.svg) no-repeat center bottom;
	background-size: 100%;
	position: relative;
	left: -150px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
@media(max-width: 640px){
	.section__imglogo{
		display: none;
	}
}
.imglogo{
	width: 45%;
	margin-bottom: 20px;
}
main{
	
}
.section__umgrupo{
	height: 100vh;
	background: rgb(0, 113, 187);

}
@media(max-width: 640px){
	.section__umgrupo{
		height: 100%;
	}
}
.block__umgrupo{
	padding-top: 10%;
	margin-right: 24%;
	margin-left: 23%;
	width: 53%;
	height: 10%;
}
@media(max-width: 640px){
	.block__umgrupo{
	width:75%; 	
	margin-left: 0;
	margin-right: 0;  	
	margin-bottom:0;
	padding-left:13%; 
	padding-top:25%;
	padding-bottom:25%;   
	}
}
.p__textoumgrupo{
	font-family:"modesto-text";
	font-style:normal;
	font-weight:700; 
	font-size: 20px; 
	color: rgb(255, 255, 255);  
	text-align: left; 
	line-height: 38px; 
	letter-spacing: 0em;

}
@media(max-width: 640px){
	.p__textoumgrupo{
		font-size: 18px;
		color: rgb(255, 255, 255);
		line-height: 30px;
	}
}
.section__ação2{
	width: 100%; 
	background: rgb(216, 223, 33);
	position: relative;
}
.section__ação2--mobile{
	width: 100%; 
	background: rgb(216, 223, 33);
	position: relative;
	display: none
}
@media(max-width: 640px){
	.section__ação2{
		display: none;
	}
	.section__ação2--mobile{
		display: block;
	}
}
.action__btn{
	width: 8%;
	height: 40vh;
	background:transparent;
	border:none;
	position: absolute;
}
.action__btn:focus{
	outline: none;
}
.action__btn--left{
	top:40%;
	left:10%;
	z-index: 1;
}
.action__btn--right{
	top: 40%;
	right:10%;
	z-index: 1;
}
.actionBtn__image{

}
@media(max-width: 640px){
	.action__btn{
		display: none;
	}
}
.block__ação{
	min-width: 60%;
	padding-top: 5%;
	margin:0 20%; 
	/*display: flex;*//* Display controlado pelo js */
	flex-direction: column;	
	align-items: center;
}
.block__ação--mobile{
	min-width: 60%;
	padding-top: 5%;
	margin:0 20%; 
	display: flex;
	flex-direction: column;	
	align-items: center;
}
@media(max-width: 640px){
	/*.block__ação{
	}*/
	.block__ação--mobile{
		width: 100%; 
		padding-top: 20%;
		margin:0;
	}
}
.h2__ação{ 
	width: 75%;
	font-family:"modesto-text";
	font-style:normal;
	font-weight:700;
	font-size: 26px; 
	color: rgb(0, 113, 187);  
	text-align: left; 
	line-height: 38px; 
	letter-spacing: 0em;
}
@media(max-width: 640px){
	.h2__ação{
		padding-bottom: 5%;
	}
}
.p__ação{ 
	width: 75%;
	font-family:"modesto-text";
	font-style:normal;
	font-weight:700;
	font-size: 18px; 
	color: rgb(0, 0, 0);  
	text-align: left; 
	line-height: 38px; 
	letter-spacing: 0em;
}
.imgação{
	width: 100%;
}
@media(max-width: 640px){
	.imgação{
		padding-top: 15%; 
	}
}

#CONTATO{
	min-height: 150vh;
	background:rgb(157, 0, 93) url(Assets/Contato.svg) no-repeat center;
	display: flex;
	justify-content: center;
	align-items: center;

}
@media(max-width: 640px){
	#CONTATO{
		background:rgb(157, 0, 93) url(Assets/Mobile-Contato.svg) no-repeat center bottom;
		background-size: 100%;
		align-items: flex-end;
	}
}
.block__contato{
    font-weight: bold; 
	font-size: 20px;
	color: rgb(0, 0, 0);
	font-style: normal;
	text-align: left;
	line-height: 31.7px;
	letter-spacing: 0.06em;
}
@media(max-width: 640px){
	.block__contato{
		padding-bottom: 100px; 
		letter-spacing: 0.01em; 
	}
}
.block__contato a{
	color: rgb(0, 0, 0);
	text-decoration:none;  
 	line-height: 31.2px;
}
/*footer Vai na Web */

.vnw{ 
    height: 40px;
	background: #f16337;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.vnw__text{
    font-family: 'filson-soft', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
    color: #30368c;
}
.vnw__link{
    color: #30368c;
}
@media (max-width: 768px){
	.vnw__text{
        font-size: 12px;
    }
}